.page__hero--overlay {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.page__hero--overlay .page__lead  {
  text-shadow: none;
  font-size: 1.7rem;
  max-width: 65%;
  text-align: center;
  margin-inline: auto;
}
